// for each retro post.

.single-post article.category-retro {

    // the bit that holds the image of said tragic former design. 
    header {
        background: var(--retro__header-bg);
        color: var(--retro__title-color);         
    }

    .post__bg {
        background: var(--retro__post-bg);

        @media screen and (min-width: 800px) {
            display: grid; 
            grid-template-columns: repeat(5, 1fr); 
            grid-template-rows: auto;
            grid-template-areas: 
            "retro-img retro-img retro-img story story"
            "retro-img retro-img retro-img highlights highlights";
        }
      }

    .post__img {
        grid-area: retro-img;
    }

        // the bit that holds the story about it. 
    .retro-story {
        grid-area: story;
        background: var(--retro__story-bg);
    }

    .retro-highlights {
        grid-area: highlights;
        background: var(--retro__highlights-bg);
    }
    
    p {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 2rem;

      &:nth-of-type(odd) { 
        grid-column: 2 / 5;
        background: linear-gradient(to right, var(--retro__paragraph-bg), transparent);
        
      }
      &:nth-of-type(even) { 
        grid-column: 2 / 5;
        background: linear-gradient(to left, var(--retro__paragraph-bg), transparent);
      }
      &:first-of-type {
          margin-top: -1rem;
      }
    }

} // ends category-retro article