// on play category's single page. 

.single-post article.category-play {

    header {
      background: var(--play__header-bg); // because we're changing the bg on the parent
      color: var(--play__title-color);
    }

    .post__bg {
      background: var(--play__post-bg);
    }

    p,
    blockquote p {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 2rem;

      &:nth-of-type(odd) { 
        grid-column: 2 / 6;
        background: linear-gradient(to right, var(--play__paragraph-bg), transparent);
        
      }
      &:nth-of-type(even) { 
        grid-column: 3 / 7;
        background: linear-gradient(to left, var(--play__paragraph-bg), transparent);
      }
    }
 
    blockquote.wp-block-quote {
      background: var(--play__blockq-bg);
      @include edge-buffer;
      p {
        background: transparent;
      }
    }

    // so i can add an img as a cover, and not have the p's bg show
    .wp-block-cover p {
      background: transparent;
    }
}
