// and for our work category single page. thing.

.single-post article.category-work {

    header {
      background: var(--work__header-bg); // because we're changing the bg on the parent
      color: var(--work__title-color);
    }

    .post__bg {
      background: var(--work__post-bg);
    }

    p {
        width: 100%; // so it actually reaches all 600px.
        max-width: 700px;
        margin: 0 auto;
        @include edge-buffer;
  
        &:last-of-type {
          padding-bottom: 2rem; // this evens out between blockquotes and images
        }
      }

}