// alrighty. wp is making us completely rethink how we're laying out our different pages. 

// GOAL: retro, play, and work all have differing layouts, possibly. so that a user can tell which category they're in, based on layout. that sounds insane, writing it out right now but I'm on T3s. So the insanity could all be mine. 


// main class, and universal truths for all content in each post, regardless of category.
.post__single {
    position: relative;
    // header and h1 specs are in blog-categories, as they share styles.

    // class the featured image is in, on all pages. 
    .post__img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

// for the meta (date, time, author etc)
.post__meta {
    font-size: 0.9rem;
}

// for now. Need a prettier solution to this.
.post__footer {
    nav, .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 800px) {
            flex-direction: row;
        }

        div {
            margin: 1rem;
            @media screen and (min-width: 800px) {
                margin: 0 1rem;
            }
        }
    }
}

// adding comments in here as single posts are where they're found. smart, huh?
.post__comments {
   max-width: 700px;
   margin: 0 auto; 

   .comments-title {
       padding: 1rem;
       @media screen and (min-width:800px) {
           padding: 1rem 0;
       }
   }
   ul {
       padding: 0;

       &.children {
           padding-left: 1.5rem;
           border-top: 1px solid  var(--post-comments__border);
       }
   }
    li {
       border-bottom: 3px solid var(--post-comments__border);
       padding: 2rem 0 1rem;

       @media screen and (max-width:768px) {
        padding: 2rem 0 1rem;
       }

       & li {
           border: 0;
           padding-bottom: 0;
       }

       .comment-author, .comment-meta, .reply {
            @media screen and (max-width:768px) {
                padding: 0 1rem;
            }
       }


    .reply a {
            display: inline-block;
            padding: 1rem;
            margin: 0.5rem 0 2rem;
            background: var(--textlink__btn-bg);
        }
    
   }

   #reply-title, #commentform p {
        padding: 1rem; 
   }

   textarea {
       width: 100%;
       max-width: 100%;
   }

   .form-submit input {
        display: block;
        text-align: center;
        background: var(--textlink__btn-bg); // test this out as an accent color
        @include edge-buffer;
        color: var(--textlink__widths-color);
        border: 0;
        margin-bottom: 2rem;
   }

   .comment-form-comment label {
        display: block;
    }

    #cancel-comment-reply-link {
        padding: 1rem;
        font-size: 0.9rem;
    }
}