// on play category's single page. 

.single-post article.category-play {
  background: var(--bg__white-05);

    header {
      background: var(--bg__play-pg); // because we're changing the bg on the parent
      h1 {
        color: var(--title__highlight);
      }
    }

    p,
    blockquote p {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem;

      &:nth-of-type(odd) { 
        grid-column: 2 / 6;
        background: linear-gradient(to right, var(--bg__white-02), transparent);
        
      }
      &:nth-of-type(even) { 
        grid-column: 3 / 7;
        background: linear-gradient(to left, var(--bg__white-02), transparent);
      }
    }
 
    blockquote.wp-block-quote {
      background: var(--bg__white-02);
      @include edge-buffer;
      p {
        background: transparent;
      }
    }

    // so i can add an img as a cover, and not have the p's bg show
    .wp-block-cover p {
      background: transparent;
    }
}
