// things that are true for all category landing pages. Also, apparently some single pages too.

.category__landing,
.post__single,
.generic__alt-pg,
.work__landing  {
    header {
        padding-top: 2rem;
        @media screen and (min-width:800px) {
            padding-top: 0; 
        }
       
        h1 {
            font-size: 3rem; 
            padding: 2rem 1rem;
            @media screen and (min-width: 800px) {
                font-size: 4rem;
                padding: 3rem 1.5rem;
            }
        }
    }

    .textlink__halfwidth {
         margin-top: auto; // pushes the button to the bottom of the container if the parent has flex on it. if not, this does nothing. 
    }
}

.category__landing {
    .category__landing-blocks {
        @media screen and (min-width:768px) {
           display: grid; 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto; 
        }
    }

    article {
        // to handle interior layout.
        display: flex;
        flex-direction: column;
        
        header {
            background: transparent;
            display: flex;
            align-items: flex-end;

            a {
                background: transparent; // removing the emphasis underline from general text 

                @include hover {
                    color: inherit;
                }
            }
        }

        h2 {
            padding: 1rem 2rem 0;
            font-size: 2rem;
        }

        // for the author and date bit 
        .entry-meta {
            font-size: 0.8rem;
            display: flex;
            justify-content: space-between;
        }

        // our pseudo button
        .textlink__halfwidth {
            width: 50%;
            padding: 0;
            align-self: flex-end; // right aligns item 
            
            a {
                display: block; 
                text-align: right;// so we take up the full width of the p
            }
        }
    }
}

// alright. rewriting some stuff here to play nice with dynamic classes. hold onto yer butts. 

// work category landing page. 
body.category-work {

    .category__header {
        background: var(--work__header-bg);
        color: var(--work__title-color);
    }

    // now we can color the article's body, without affecting the opacity of the header.
    .post__bg {
        background: var(--work__post-bg);
    }

    // setting up the layout for the play category landing page.
    .category__landing-blocks {

        article {
            //let's see if we can't make some magic. 

            &:nth-of-type(4n + 1) { //technically here, it's the 5th box and the first, that span  1 - 3 columns.
                grid-column: 1 / 3;
                background: var(--work__post-blocks-bg-odd);
            }
            &:nth-of-type(4n) { // 4th box, span the opposite of the 1st.
                grid-column: 2 / 4;
                background: var(--work__post-blocks-bg-even);
            }
            &:nth-of-type(5n + 2) {
                background: var(--work__post-blocks-bg-alt);
            }
        }
    }
}
// retro category landing page.
body.category-retro {

    .category__header {
        background: var(--retro__header-bg);
        color: var(--retro__title-color);
    }

    // now we can color the article's body, without affecting the opacity of the header.
    .post__bg {
        
    }

    // setting up the layout for the play category landing page.
    .category__landing-blocks {
        
        article { 
            
            &:nth-of-type(4n + 1) { //technically here, it's the 5th box and the first, that span  1 - 3 columns.
                background: var(--retro__post-blocks-bg-odd);
            }
            &:nth-of-type(4n) { // 4th box, span the opposite of the 1st.
                
                background: var(--retro__post-blocks-bg-even);
            }
            &:nth-of-type(5n + 2) {
                background: var(--retro__post-blocks-bg-alt);
            }
        }
    }
}

body.category-play {

    .category__header {
        background: var(--play__header-bg);
        color: var(--play__title-color);
    }

    // now we can color the article's body, without affecting the opacity of the header.
    .post__bg {
        
    }

    // setting up the layout for the play category landing page.
    .category__landing-blocks {

        article {
            //let's see if we can't make some magic. 

            &:nth-of-type(4n + 1) { //technically here, it's the 5th box and the first, that span  1 - 3 columns.
                grid-column: 1 / 3;
                background: var(--play__post-blocks-bg-odd);
            }
            &:nth-of-type(4n) { // 4th box, span the opposite of the 1st.
                grid-column: 2 / 4;
                background: var(--play__post-blocks-bg-even);
            }
            &:nth-of-type(5n + 2) {
                background: var(--play__post-blocks-bg-alt);
            }
        }
    }
}

// styling WP's category description for each category landing page
.category__landing-desc {
    padding: 2rem 0;

    @media screen and (min-width:800px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }   
}

