// alright. for page layouts, starting with the generic one. 

.generic__alt-pg {
 
  header {
    background: var(--bg__white-02);
    color: var(--title__dark-highlight);
  }

    p {
      width: 100%; // so it actually reaches all 600px.
      max-width: 600px;
      margin: 0 auto;
      @include edge-buffer;

      &:last-of-type {
        padding-bottom: 2rem; // this evens out between blockquotes and images
      }
    }
}


// splits up the p's into a grid, technically. this way I can change layout and swap out colors if (oh let's be honest, that's a when) I want to shake things up
.alt__content-blocks {
  background: var(--bg__white-05);

  @media screen and (min-width:800px) {
    display: grid; 
     grid-template-columns: repeat(7, 1fr);
 }
 
 p, pre { 
  
     &:nth-of-type(odd) { 
         grid-column: 2 / 6;
         background: linear-gradient(to right, var(--bg__white-02), transparent);
         
     }
     &:nth-of-type(even) { 
         grid-column: 3 / 7;
         background: linear-gradient(to left, var(--bg__white-02), transparent);
     }

     @media screen and (min-width: 800px) {
      padding: 3rem 2rem;
      margin-top: -1rem;
     }
  }

  > div {
    grid-column: 2 / 7;

    p {
      max-width: 100%;
    }
  }
}
