// where we set up the classes for js to swap out when user switches themes. 
// the variables used to define the colors themselves are in variables.scss, separated by theme, with the ones used in both set ahead. 

// the soft greenish theme
.default {

    --body-bg-color: #{$green-base};
    --body-txt: #{$black};
    --body-txt-light: #{$white};
    --body-txt-highlight: inherit;

    // header bg 
    --header__bg-base: #{$header-green};
    --header__bg: #{$white-07};

    // name/logo
    --header__logo-a: #{$black}; 
    --header__logo-initials: #{$white}; 
    --header__logo-bg: #{$white-04}; // alt bg could be this creamier yellow: fde395
    --header__logo-bg--hover: #{$yellow-base};

    // here we're going to change this on desktop, because the header's lighter. 
    @media screen and (min-width: 800px) {
      --header__logo-initials: #{$pigeon-grey}; 
    }

    // setting up all focus style. 
    --focus__outline-color: #000;

    //theme swapper values 
    --ts__bg: rgba(255,255,255,0.9);

    // nav
    --nav__a: #{$black};
    --nav__a-underline: #{$black};
    --nav__a-hover: inherit;
    --nav__a-bg--hover: #{$yellow-base};

    // mobile menu 
    --nav__mobile-bg: #{$dove-grey};
    --nav__mobile-bg--active: #{$dove-grey};

    // mobile button. 
    --nav__mobile-button-bg: #{$white-05}; 
    --nav__mobile-button--active: #{$dove-grey};
    --nav__mobile--button--focus: #{$dove-grey};
    --nav__mobile-button-link: #{$black};
    
    // text links in body 
    --link__color: #{$black};
    --link__bg: #{$yellow-base};
    --link__underline: inherit;
    --link__bg--focus: #{$yellow-base};
    --link__txt--focus: inherit;

    // for the faux buttons
    --textlink__btn-bg: #{$yellow-base};
    --textlink__btn-bg--hover: #F6E2A6;
   
    // testing something out. because now, with the boxes, the titles aren't all white. 
    --title__alt-color: #{$yellow-base};
    --title__dark-highlight: inherit;
    

  // grids, used on the homepage, what i do and about pgs.
    --home__intro-bg: rgba(255,255,255,0.2);
    --home__intro-title-color: inherit;

    --home__work-bg: rgba(255,255,255,0.8);
    --home__work-title-color: inherit;

    --home__play-bg: rgba(255,255,255,0.6);
    --home__play-title-color: inherit;

    --home__retro-bg: rgba(255,255,255,0.4);
    --home__retro-title-color: inherit;
    --home__retro-txt-color: inherit;

    --work-grid__intro-bg: rgba(255,255,255,0.6);
    --work-grid__intro-txtcolor: inherit;
    --work-grid__intro-title-color: inherit;

    --work-grid__highlight-bg: rgba(255,255,255,0.4);
    --work-grid__highlight-txtcolor: inherit;
    --work-grid__highlight-title-color: inherit;

    --work-grid__sidebar-bg: rgba(255,255,255,0.2);
    --work-grid__sidebar-txtcolor: inherit;
    --work-grid__sidebar-title-color: inherit;

    --work-grid__play-bg: rgba(255,255,255,0.6);
    --work-grid__play-txtcolor: inherit;
    --work-grid__play-title-color: inherit;

    --work-grid__skills-bg: rgba(0,0,0,0.4);
    --work-grid__skills-txtcolor: white;
    --work-grid__skills-title-color: #{$yellow-base};

    
    --work-grid__study-bg: rgba(255,255,255,0.4);
    --work-grid__study-txtcolor: inherit;
    --work-grid__study-title-color: inherit;

    --work-grid__more-bg: rgba(255,255,255,0.6);
    --work-grid__more-txtcolor: inherit;

    --work-grid__learning-bg: rgba(255,255,255,0.2);
    --work-grid__learning-txtcolor: inherit;
    --work-grid__learning-title-color: inherit; 

    // generic page settings
    --generic__header-bg: rgba(255,255,255,0.2);
    --generic__title-color: inherit;
    --generic__alt-blocks-bg-odd: rgba(255,255,255,0.2);
    --generic__alt-blocks-bg-even: rgba(255,255,255,0.2);
     
    // play category pages and matching post pages.
    --play__header-bg: rgba(255,255,255,0.2);
    --play__title-color: inherit;
    --play__post-bg: rgba(255,255,255,0.5);
    --play__paragraph-bg: rgba(255,255,255,0.2);
    --play__blockq-bg: rgba(255,255,255,0.2);

    // retro category pages and matching post pages. 
    --retro__header-bg: rgba(255,255,255,0.4);
    --retro__title-color: inherit;
    --retro__post-bg: rgba(255,255,255,0.4);
    --retro__story-bg: rgba(255,255,255,0.4);
    --retro__highlights-bg: rgba(255,255,255,0.6);

    // work category pages and matching post pages. 
    --work__header-bg: rgba(255,255,255,0.6);
    --work__title-color: inherit;
    --work__post-bg: rgba(255,255,255,0.3);

    // footer colors. 
    --footer__block-bg-odd: rgba(255,255,255,0.4);
    --footer__block-txt-odd: inherit;
    --footer__block-bg-even: rgba(255,255,255,0.2);
    --footer__block-txt-odd: inherit;

    // bgs shading changes

    --bg__white-06: #{$white-06};
    --bg__white-05: #{$white-05};
    --bg__white-04: #{$white-04};
    --bg__white-02: #{$white-02};

    --bg__black-06: #{$black-06};
    --bg__black-04: #{$black-04};
    --bg__black-02: #{$black-02};

    // list bullets because holy god i can style these now
    --list__brace: #{$yellow-base};

}

// white. obviously
.light {

  --body-bg-color: #e6f2f8;
  --body-txt-light: inherit;
  --body-txt-highlight: inherit;

  // changing the initials from white. 
  --header__logo-initials: #21759b;
  --header__bg-base: #c2e5f5;
  --header__logo-bg: #1f4a5e;
  --header__logo-a: rgb(43, 42, 42);
  --header__logo-bg--hover: #21759b;

  // here we're going to change this on desktop, because the header's darker. 
  @media screen and (min-width: 800px) {
    --header__logo-initials: white;
    --header__logo-a: #87d7fc;
  }

  // text links
  --link__bg: rgba(160,217,249,0.9);
  --link__bg--focus: #21759b;
  --link__txt--focus: #{$white};

  // for the faux buttons
  --textlink__btn-bg: #21759b;
  --textlink__btn-bg--hover: #1f4a5e;

  // changes to nav. 
  --nav__a: #21759b;
  --nav__a-hover: #{$white};
  --nav__a-bg--hover: #21759b;

  // mobile menu 
  --nav__mobile-bg: #e6f2f8;
  --nav__mobile-bg--active: #eceaea;

  // mobile button. 
  --nav__mobile-button-bg: #e6f2f8;
  --nav__mobile-button--active: #e6f2f8;
  --nav__mobile--button--focus: #a2cce0;
  --nav__mobile-button-link: #175572;
  
   // for our little theme swapper 
  --theme-swapper__shadow: #{$black-02};
  --theme-swapper__txt-link--focus: #{$white};

  // when a text link mimics a button. 
  --textlink__widths-color: #{$white};

  // titles 
  --title__alt-color: #0D3344;
  --title__dark-highlight: #0D3344;
  --title__play-pg: inherit;
  --title__work-pg: inherit;
  --title__retro-pg: inherit;

  // as wp is structuring our pages a little differently: 
  --bg__play-pg: #b4d2e1;
  --work__header-bg: #dbecf4;
  --bg__retro-pg: #cee7f4;

  // bgs shading changes
  --bg__white-09: #{$white-09};
  --bg__white-08: #{$white-08};
  --bg__white-07: #{$white-07};
  --bg__white-06: rgba(255,255,255, 0.5);
  --bg__white-05: #{$white-05};
  --bg__white-04: rgba(169,214,237, 0.4);
  --bg__white-02: rgba(211,232,242, 0.6);

  --bg__black-06: #{$black-06};
  --bg__black-04: rgba(33, 116, 155, 0.35); //rgb(191, 217, 230);
  --bg__black-02: rgba(33,117,155,0.25);
  
// list bullets because holy god i can style these now
  --list__brace: #0D3344;

}


// dark. ish.
.dark {

  --body-bg-color: #1b1b1b;
  --body-txt: #{$white};
  --body-txt-highlight: #{$spring-green};

  // changing the initials from white.
  --header__logo-a: #f0efef; // white last name // white hover for initials
  --header__logo-initials: #{$pale-blue}; // white initials // white hover for last name

  // changes to nav.
  --nav__a: #{$pale-blue};
  --nav__a-bg--hover: #215872;

  // header bg 
  --header__bg-base: black;
  --header__bg: #3b3b3b;
  --header__logo--bg: #{$black-02};
  --header__logo-bg--hover: #{$black};

  // mobile menu 
  --nav__mobile-bg: #3b3b3b;
  --nav__mobile-bg--active: #92ccc8;

  // mobile button. 
  --nav__mobile-button-bg: #3b3b3b;
  --nav__mobile-button--active: #3b3b3b;
  --nav__mobile--button--focus: #202020;
  --nav__mobile-button-link: #{$pale-blue};

  // text links in body 
  --link__color: #{$pale-blue};
  --link__bg: black;
  --link__underline: inherit;
  --link__bg--focus: #{$black};
  --link__txt--focus: #{$pale-blue};

    // for the faux buttons 
  --textlink__widths-color: #{$white};
  --textlink__btn-bg: #21759b;
  --textlink__btn-bg--hover: #215872;

  // titles 

  --title__alt-color: #{$spring-green};
  --title__dark-highlight: #{$spring-green};
  --title__play-pg: #e9c765;
  --title__work-pg: inherit;
  --title__retro-pg: #{$spring-green};

  // as wp is structuring our pages a little differently: 
  --bg__play-pg: #2b2b2b;
  --work__header-bg: #050505;
  --bg__retro-pg: #161616;
  
  // bgs shading change
  --bg__white-09: rgba(134,135,135,0.6);
  --bg__white-08: rgba(255,255,255,0.15);
  --bg__white-07: #{$white-07};
  --bg__white-06: rgba(255,255,255,0.25);
  --bg__white-05: rgba(255,255,255,0.2);
  --bg__white-04: rgba(255,255,255,0.1);
  --bg__white-02: rgba(255,255,255,0.07);

  --bg__black-06: #{$black-06};
  --bg__black-04: rgba(255,255,255,0.035);
  --bg__black-02: rgba(255,255,255,0.07);

  // list bullets because holy god i can style these now
  --list__brace: #{$spring-green};

  // .footer__split-box:last-of-type {
  //   background: var(--bg__white-08);
  // }
}


