// the nav.
nav {
    z-index: 10;
  
    @media screen and (min-width: 769px) {
      height: 100%;
      position: relative;
      display: flex;
      align-items: stretch;
      // why does shoving this into wp now require a static height? find out. 
      height: 72px;
    } 
  }
  
  // the menu toggle that we hide on desktop. 
  button#header__nav-toggle {
    color: var(--nav__a);
    background: var(--nav__mobile-button-bg);
    border: 0;
    padding: 1.56rem 1.25rem;
  
   // because we're overwriting lots of default button values
  
    // hiding the 'menu' text for all but screen readers 
    .header__nav-toggle--sr-only {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
  
    // creating the lines we're going to animate. 
    .header__nav-toggle--hamburger {
      display: block; // so she shows up.
      height: 3px;
      width: 2rem;
      background: var(--nav__mobile-button-link);
      margin-bottom: 0.4rem;
      transition: all 0.4s;
  
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  
    // for the focus state, overwriting the browser defaults. we still highlight it, but it's no longer a big orange ring
    &:focus,
    &:focus-within {
      outline: 2px solid var(--focus__outline-color);
      background: var(--nav__mobile--button--focus);
    }
  
    // now we make sure the x below will have an outline as well. 
    &:focus[aria-expanded="true"] {
     background: var(--nav__mobile-button--active);
      //outline: 2px solid red;
    }
   // and when expanded: 
   &[aria-expanded="true"] { 
  
     // and we change how the 3 bars look when opened. they have their own classes here, because span can be a pita to manipulate 
     .header__nav-toggle--hamburger {
     
       &.line-1 {
        transform: rotate(-405deg) translate(-7px, 6px); // one turn plus 45deg
        opacity: 1;
       }
  
       &.line-2 {
        opacity: 0;
       }
  
       &.line-3 {
        transform: rotate(405deg) translate(-7px, -6px); // one turn plus 45deg
        opacity: 1;
       }
     }
   }
  
    @media screen and (min-width: 769px) {
      display: none; 
      // as the regular menu appears as text on ipad, we don't need this button 
    }
  }
  
  // the ul containing the menu itself. changed slightly to 
  .header__nav--container ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1rem;
    text-transform: uppercase;
    height: 100%;
  
    @media screen and (max-width: 768px) {
    // defaulting to hidden, animating when triggered
      overflow: hidden;
      position: absolute;
      right: 0;
      left: 0;
      height: 0; // as this is what we're animating
      transition: height 0.5s cubic-bezier(0.42, 0, 0.58, 1);
      flex-direction: column;
      align-items: center; // horizontally centering, as we've switched the direction to colummn.
      justify-content: center; // and vertically centering.
    // otherwise space between leaves us with way too much unbalanced whitespace.
      background: var(--nav__mobile-bg);
      
  
      &.is-active {
        height: calc(100% - 95px);
        overflow: scroll; // in case we end up with more stuffs.
        background: var(--nav__mobile-bg);
        align-items: stretch; // so the li and a span the width of the container
  
        li {
          margin: 0.5rem 0; // space for big fingers on mobile
          a {
            justify-content: center; // centers this for mobile.
          }
        }
      }
    }
  
  // menu items
    li {
      display: flex;
      align-items: stretch;
      
      // so the lis take up all the height of the parent
      a {
        padding: 0.65rem 1rem;
        text-decoration-style: dotted;
        text-decoration-color: --nav__a-underline;
        text-decoration-thickness: 0.1rem;
        color: var(--nav__a);
        display: flex;
        align-items: center; //and we vertically center the links
        flex-grow: 1; // so the a always grows to fill the space
        letter-spacing: 1px;
        //transition: background 0.5s, color 0.5s;
        font-weight: 700;
    
  
        @include hover {
          text-decoration-style: solid;
          color: var(--nav__a-hover);
          background: var(--nav__a-bg--hover);
        }
      }
  
      // setting up the current state in wp
      &.current-menu-item a {
        color: var(--nav__a-hover);
        background: linear-gradient(to top, var(--nav__a-bg--hover) 100%, var(--nav__a-bg--hover) 100%);
      }

      // something neat for the category individual pages. so you kinda know where you are still. 
      &.current-post-parent a {
        color: var(--nav__a);
        background: linear-gradient(to top, var(--nav__a-bg--hover) 25%, transparent 25%);
       // so that up there is a neat little hack I had to put in, to prevent the original theme's bg color come blinking in, when we're on alternate theme colors. I need to know WHY it does this.
        @include hover {
          color: var(--nav__a-hover);
          background: var(--nav__a-bg--hover);
        }
      }
  
      //note to self. you'll come back to this - maybe not tomorrow but soon - and wonder why you didn't add in the capacity to add a drop down menu. Well, I'm here to tell you - it's because you didn't need one, and likely won't need one. 
      //If you DO end up needing one, you should code in some js along with it, to make it expand on click. which is, as of 2020, better practice than rollover menus. Who knows what magic we'll come up with by the time I need a drop down.
    }
  }