
@use '../0-Abstracts/variables' as *;


body.category-play {

   .category__header {
       background: var(--play__header-bg);
       color: var(--play__title-color);
   }

   // now we can color the article's body, without affecting the opacity of the header.
   .post__bg {
       
   }

   // setting up the layout for the play category landing page.
   .category__landing-blocks {

       article {
           //let's see if we can't make some magic. 

           &:nth-of-type(4n + 1) { //technically here, it's the 5th box and the first, that span  1 - 3 columns.
               grid-column: 1 / 3;
               background: var(--play__post-blocks-bg-odd);
           }
           &:nth-of-type(4n) { // 4th box, span the opposite of the 1st.
               grid-column: 2 / 4;
               background: var(--play__post-blocks-bg-even);
           }
           &:nth-of-type(5n + 2) {
               background: var(--play__post-blocks-bg-alt);
           }
       }
   }
}