@use '../0-Abstracts/variables' as *;
@use '../0-Abstracts/mixins' as *;

// main class, and universal truths for all content in each post, regardless of category.
.post__single {
   position: relative;
   // header and h1 specs are in blog-categories, as they share styles.

   // the featured image as a background: 
   .post__featured-img {
       grid-column: 1 / 6;
       height: calc(0.564 * 100vw);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center bottom;
   }

   // for lists
   ul, ol, p {
       @include max-width;
   }

   p,
   blockquote p  {

       @media screen and (min-width: 800px) {
           padding: 3rem 2rem;
           margin-top: -1rem;

           &:first-of-type {
               margin-top: 0;
           }
          }

     &:nth-of-type(odd) { 
      // grid-column: 2 / 6;
       background: linear-gradient(to right, var(--play__paragraph-bg), transparent);
     }

     &:nth-of-type(even) { 
      // grid-column: 3 / 7;
       background: linear-gradient(to left, var(--play__paragraph-bg), transparent);
     }
   }
   // changing the gradient for h2s, as I don't want it there. 
   h2 {
       background: transparent;
       border-bottom: 10px solid var(--post__single-subtitle--bg);
       padding: 2rem 1rem 0;
       margin-bottom: 1rem;
       text-align: center;
   }
   
   blockquote.wp-block-quote {
       background: var(--play__blockq-bg);
       @include edge-buffer;
 
       p {
         background: transparent;
         @include max-width;
       }
     }

     // for figcaptions. ok that's obvious. 
     figcaption {
         font-size: 0.8rem; 
         font-style: italic; 
         padding-left: 1rem;
         padding-right: 1rem;
         text-align: center;
         margin-bottom: 0; // undoing the default
     }

}