// we're going to attack this differently this time. I've learned new shit. 


$black: #000000;
$white: #ffffff;


$pearlescent-algae: #91B4B2;
$late-day-sun: #e9c765;
$dark-smoke: #252525;
$white-lake: #e2e7e7;
$buttermilk: #F6E2A6;

$olivine: #a0c977;
$columbia-blue: #97d7fc;
$mouse-ears: #3b3b3b;
$white-smoke: #f0efef;
// $late-day-sun: #e9c765;
$dark-cave: #1b1b1b;
$morning-glory: #92ccc8;
$darkest-grey: #202020;



$allports: #216381;
$pattens-blue: #CFF0FF;
$dusty-robin: #185A79;
$astronaut-blue: #1f4a5e;
$alice-blue: #e6f2f8;
$whisper: #eceaea;
$french-pass: #a2cce0;
$orient: #175572;
$blue-whale: #0D3344;



// sizes
$ipad_breakpoint: 768px;
$ipad-pro_breakpoint: 1024px;
$mid-desktop_breakpoint: 1600px;
$lg-desktop_breakpoint: 2400px;