@use '../0-Abstracts/variables' as *;

// shows up on the 404 page. 
.form__header {
    grid-area: left-block;
    background: transparent;
    color: var(--work-grid__sidebar-txtcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    @media screen and (max-width: 800px) {
        padding-top: 4rem;
    }
}

.form__message {
    grid-area: right-block;
    background: var(--home__play-bg);
    color: var(--home__play-title-color);
    padding-top: 2rem;
}

.form__input {
    grid-area: right-b-block;
    background: var(--work-grid__sidebar-bg);
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    input {
        padding: 1rem;
    }
}